<div>
  <form [formGroup]="reactiveForm">
    <quill-editor formControlName="quillBody" name="quillBody" 
      (onEditorCreated)="onQuillEditorCreated($event)"
      (onSelectionChanged)="logSelection($event)" 
      (onContentChanged)="logContentChanged($event)"
      [placeholder]="quillPlaceholder" 
      [preserveWhitespace]="true"
      [modules]="quillModules" 
      [styles]="quillStyles">
    </quill-editor>
    <button (click)="onInsertText()">Add Text To Editor</button>
  </form>


</div>




<!-- <router-outlet></router-outlet> -->